<%- include("./partials/header", {title: "Home"}) %>
    <%- include("./partials/nav", {active: "home"}) %>
    <div class="jumbotron">
        <h1 class="display-3 hero-h1">Welcome!</h1>
    </div>
    <div class="row cards-container" style="margin: auto">
        <div class="card col-sm-4 col-md-3">
            <div class="card-body">
                <h3>Login</h3>
                <p><a href="/login">Logging in</a> allows you to access your blog, and view other peoples posts!</p>
            </div>
        </div>
        <div class="card col-sm-4 col-md-3">
            <div class="card-body">
                <h3>Register</h3>
                <p><a href="/register">Registering</a> creates your account! With this you can login.</p>
            </div>
        </div>
    </div>

<%- include("./partials/footer") %>