#profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bio {
    display: block;
}

.hero-h1 {
    text-align: center;
}

.cards-container {
    display: flex;
    justify-content: space-around;
}

.register-login-container {
    width: 50%;
}

.post-form {
    justify-content: center;
}

.edit-btn {
    margin-right: 1rem;
}

/* js toggles */
.hidden {
    display: none;
}