#profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
} #profile-header h1 {
    position: relative;
    width: 40%;
    left: calc(50% - 20%);
    text-align: center;
}

#bio {
    display: block;
}

#user-img {
    width: 100%;
}

#myblog-header {
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
}

#myblog-h1 {
   text-align: center;
}

.friendReq div header {
    display: flex;
}

.friendReq {
    padding: 16px 8px;
}

.round-pfp {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: inline-block;
}

.hero-h1 {
    text-align: center;
}

.cards-container {
    display: flex;
    justify-content: space-around;
}

.register-login-container {
    width: 50%;
}

.post-form {
    justify-content: center;
}

.edit-btn {
    margin-right: 16px;
}

.display, .edit {
    margin: 0 auto;
}

.pnf-login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.friend {
    width: 33.33%;
    margin: 0 auto;
    margin-top: 32px;
}

/* js toggles */
.hidden {
    display: none;
}